
*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}


nav{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

nav ul{
    display: flex;
}
nav ul li{
    padding:20px 20px;
}

nav ul li a{
    font-size: 20px;
    font-family: cursive;
    font-weight: 600;
    color: #699444;
}

.cart{
    width:250px;
    height: auto;
    border:2px sold black;
}
.cart img{
    width:100%;
}
.cart_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:30px;

}


.messege_icon i{
    font-size:100px;
    color: #fff;
    position: fixed;
    top:50%;
    right:2%;
    transform: translateY(-50%);
    color: #699444;
    cursor: pointer;
}

.messegeBox{
    height:350px;
    width:300px;
    background-color: #fff;
    color: #000;
    position: fixed;
    bottom:5%;
    right:2%;
    box-shadow:0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding:10px 20px;
   

}

.Title{
    margin-top: 10px;
    text-align: center;
    font-family: cursive;
}

.messegeBox p{
    font-size:14px;
    font-family: cursive;
    line-height: 3;
    
   
    
}

.right{
    transform: translateX(150px);
}
